<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/mathjs/dist/math.min.js"></script>
</head>

<body>
  <div class="image-display">
    <h1>Indoor Designer</h1>
    <form method=post enctype=multipart/form-data> <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    <div>
      <button id="updload_file">Upload pdf File</button>
      <button id="thick_wall" onclick="setMode(this)">Thick Wall</button>
      <button id="thin_wall" onclick="setMode(this)">Thin Wall</button>
      <button id="add_dot_button" onclick="addDot(this)">Add Dot</button>
    </div>

    <div>
      <canvas id="c_heatmap" width="700" height="500" style="border: 1px solid rgb(0,0,0);"></canvas>
    </div>
  </div>
  <p id="params-1"></p>
</body>

</html>

<style>
  .image-display {
    text-align: center;
    position: relative;
  }
</style>

<script type="text/javascript">
  var c = document.getElementById("c_heatmap");
  var ctx = c.getContext("2d");
  var walls = [];
  var wall_thickness = 3;
  var dots = [{ "id": 0, "x": 350, "y": 350 }];
  var r_d = 10;
  var next_dot_id = 1;
  var hovering_dot_id = false;
  const db_start = 20 * Math.log10(2.6) + 92.45;
  var p1s = {
    "current-x": "0",
    "current-y": "0",
    "offsetX": "0",
    "offsetY": "0",
    "offsetLeft": "0",
    "offsetTop": "0",
    "pageX": "0",
    "pageY": "0",
    "clientX": "0",
    "clientY": "0",
    "canvasx": "0",
    "canvasy": "0",
    "mousesstate": "nothing yet",
    "dots": dots,
    "walls": walls,
  }

  var background = new Image();
  background.src = "../uploads/{{ background_image }}";
  background.src = "../uploads/Spital_Brig.jpg";
  background.onload = function () {
    ctx.drawImage(background, 0, 0);
  }

  function update_p1s() {
    var p1 = document.getElementById("params-1");
    p1.innerHTML = JSON.stringify(p1s);
  }

  function setMode(obj) {
    switch (obj.id) {
      case "thin_wall":
        wall_thickness = 3;
        break;
      case "thick_wall":
        wall_thickness = 10;
        break;
    }
    update_p1s();
  }

  function paint_dot(j_d, i_d, r_d) {
    ctx.fillStyle = "red";
    ctx.beginPath();
    ctx.arc(j_d, i_d, r_d, 0, Math.PI * 2);
    ctx.fill();
  }

  function dbmToColor(dbm) {
    var temp = -255 / 80 * (20 + dbm);
    if (temp < 0) {
      return 0;
    } else if (temp > 255) {
      return 255;
    } else {
      return temp;
    }
  }

  function ijk(x1, y1, x2, y2) {
    return [y2 - y1, x2 - x1, y1 * x2 - x1 * y2]
  }

  function drawLine(x1, y1, x2, y2, color = "black", width = 3) {
    ctx.beginPath();
    ctx.strokeStyle = color;
    ctx.lineWidth = width;
    ctx.moveTo(x1, y1);
    ctx.lineTo(x2, y2);
    ctx.stroke();
  }

  function addDot(obj) {
    dots.push({ "id": next_dot_id, "x": 40, "y": 40 });
    next_dot_id += 1;
    paint_raymap(step_size = 3);
  }

  function paint_heatmap(step_size = 7) {
    // todo: make calculation on all dots, not just last one
    var h_steps_size = v_steps_size = step_size;
    var nr_horizontal_boxes = c.clientWidth / h_steps_size;
    var nr_vertical_boxes = c.clientHeight / v_steps_size;

    for (var i = 0; i < nr_vertical_boxes * v_steps_size; i++) {
      for (var j = 0; j < nr_horizontal_boxes * h_steps_size; j++) {
        var dbm = -10000;
        for (var dot in dots) {
          var d = dots[dot];
          var i_d = d["y"],
            j_d = d["x"];
          var [il, jl, kl] = ijk(j, i, j_d, i_d);
          var lx_min = Math.min(j, j_d);
          var lx_max = Math.max(j, j_d);
          var ly_min = Math.min(i, i_d);
          var ly_max = Math.max(i, i_d);
          // value if no walls are in between
          var dbm_this_dot = 17 - (20 * Math.log10(Math.sqrt(Math.pow(i - i_d, 2) + Math.pow(j - j_d, 2)) / 20000) + db_start);

          for (var wall in walls) {
            var w = walls[wall];
            var [iw, jw, kw] = ijk(w["x0"], w["y0"], w["x1"], w["y1"]);
            var wx_min = Math.min(w["x0"], w["x1"]);
            var wx_max = Math.max(w["x0"], w["x1"]);
            var wy_min = Math.min(w["y0"], w["y1"]);
            var wy_max = Math.max(w["y0"], w["y1"]);
            var x_I = (kw * jl - kl * jw) / (il * jw - iw * jl);
            var y_I = (kw * il - kl * iw) / (il * jw - iw * jl);
            if (0 < x_I && x_I < c.clientWidth && 0 < y_I && y_I < c.clientHeight && lx_min <= x_I && x_I <= lx_max && ly_min <= y_I && y_I <= ly_max && wx_min <= x_I && x_I <= wx_max && wy_min <= y_I && y_I <= wy_max) {
              var slope_l = il / jl;
              var slope_w = iw / jw;
              var angle = Math.atan((slope_l - slope_w) / (1 + (slope_l * slope_w)));
              dbm_this_dot -= w["thickness"] / angle ** 2;
            }
          }

          if (dbm_this_dot > dbm) {
            dbm = dbm_this_dot;
          }
        }
        var color_rule = dbmToColor(dbm);
        ctx.fillStyle = "rgb(" + color_rule + "," + color_rule + ", " + color_rule + ")";
        ctx.fillRect(j, i, h_steps_size, v_steps_size);
        j += h_steps_size - 1;
      }
      i += v_steps_size - 1;
    }

    // draw walls
    for (var wall in walls) {
      var w = walls[wall];
      drawLine(w["x0"], w["y0"], w["x1"], w["y1"], color = "yellow", width = w["thickness"]);
    }
    // draw dots
    for (var dot in dots) {
      var d = dots[dot];
      paint_dot(d["x"], d["y"], r_d);
    }
    update_p1s();
  }

  function direction_points(x, y, angle) {
    // return an arbitrary point in the wright direction from starting point
    var distance = 2000;
    return [x + Math.cos(angle) * distance, y + Math.sin(angle) * distance];
  }

  function initDirs(x, y, num) {
    var angles = [];
    for (var i = 1; i <= num; i++) {
      angles.push((2 * i * Math.PI / num));
    }
    var dirs = [];
    for (var a in angles) {
      dirs.push(direction_points(x, y, angles[a]));
    }
    return dirs;
  }

  function paint_raymap(step_size = 7) {
    // todo: make calculation on all dots, not just last one
    var h_steps_size = v_steps_size = step_size;
    var nr_horizontal_boxes = c.clientWidth / h_steps_size;
    var nr_vertical_boxes = c.clientHeight / v_steps_size;
    var dbm = -10000;

    for (var dot in dots) {
      var d = dots[dot];
      var i_d = d["y"],
        j_d = d["x"];
      var initial_dirs = initDirs(j_d, i_d, 80);

      for (var dir in initial_dirs) {
        var j = initial_dirs[dir][0],
          i = initial_dirs[dir][1];
        // ctx.fillRect(j, i, h_steps_size, v_steps_size);
        var [il, jl, kl] = ijk(j, i, j_d, i_d);
        var x_I_current = y_I_current = 0;
        var current_angle = 0;
        var dist_min = dist_dummy = 100000;

        for (var wall in walls) {
          var w = walls[wall];
          var [iw, jw, kw] = ijk(w["x0"], w["y0"], w["x1"], w["y1"]);
          var wx_min = Math.min(w["x0"], w["x1"]);
          var wx_max = Math.max(w["x0"], w["x1"]);
          var wy_min = Math.min(w["y0"], w["y1"]);
          var wy_max = Math.max(w["y0"], w["y1"]);
          var x_I = (kw * jl - kl * jw) / (il * jw - iw * jl);
          var y_I = (kw * il - kl * iw) / (il * jw - iw * jl);
          var d_dir_I = Math.sqrt(Math.pow(x_I - j, 2) + Math.pow(y_I - i, 2));
          var d_dir_dot = Math.sqrt(Math.pow(j - j_d, 2) + Math.pow(i - i_d, 2));

          if (wx_min < x_I && x_I < wx_max && wy_min < y_I && y_I < wy_max && d_dir_I < d_dir_dot) {
            var current_dist = Math.sqrt(Math.pow(x_I - j_d, 2) + Math.pow(y_I - i_d, 2));
            if (current_dist < dist_min) {
              dist_min = current_dist;
              x_I_current = x_I;
              y_I_current = y_I;
              var slope_l = il / jl;
              var slope_w = iw / jw;
              var angle_between_line = Math.atan((slope_w - slope_l) / (1 + (slope_l * slope_w)));
              current_angle = angle_between_line + Math.atan(slope_w);

              // check if going to right side
              var [x_inf, y_inf] = direction_points(x_I_current, y_I_current, current_angle);
              var [ii, ji, ki] = ijk(x_inf, y_inf, j_d, i_d);
              var x_I2 = (kw * ji - ki * jw) / (ii * jw - iw * ji);
              var y_I2 = (kw * ii - ki * iw) / (ii * jw - iw * ji);
              var d_inf_dot = Math.sqrt(Math.pow(x_inf - j_d, 2) + Math.pow(y_inf - i_d, 2));
              var d_inf_wall = Math.sqrt(Math.pow(x_I2 - x_inf, 2) + Math.pow(y_I2 - y_inf, 2));
              if (d_inf_wall < d_inf_dot) {
                current_angle += Math.PI;
              }
            }
          }
        }

        if (dist_min < dist_dummy) {
          //paint dot line for now
          drawLine(x_I_current, y_I_current, j_d, i_d, color = "green", width = 4);
          // paint reflection line
          var [x_ref_inf, y_ref_inf] = direction_points(x_I_current, y_I_current, current_angle);
          drawLine(x_I_current, y_I_current, x_ref_inf, y_ref_inf, color = "black", width = 1);
        }
      }
    }

    // draw walls
    for (var wall in walls) {
      var w = walls[wall];
      drawLine(w["x0"], w["y0"], w["x1"], w["y1"], color = "yellow", width = w["thickness"]);
    }
    // draw dots
    for (var dot in dots) {
      var d = dots[dot];
      paint_dot(d["x"], d["y"], r_d);
    }
    update_p1s();
  }
  paint_raymap();

  //Variables
  var canvasx = $(c).offset().left;
  var canvasy = $(c).offset().top;
  var last_mousex = last_mousey = 0;
  var mousex = mousey = 0;
  var mousedown = false;
  var dot_hover = false;
  var moving_dot = false;
  var last_wall_id = -1;
  var time = Date.now();

  var matrix = [1, 0, 0, 1, 0, 0];
  var inv_matrix = [1, 0, 0, 1, 0, 0];
  var scaleFactor = 1.1;
  var lastX = c.width / 2, lastY = c.height / 2;


  //Mousedown
  c.addEventListener('mousedown', function (e) {
    last_mousex = parseInt(e.clientX - canvasx);
    last_mousey = parseInt(e.clientY - canvasy);
    var realX = getRealXY(e.offsetX, e.offsetY).x;
    var realY = getRealXY(e.offsetX, e.offsetY).y;
    dot_hover = hoveringDot(realX, realY);
    if (dot_hover) {
      // wait and see if dot is dragged
      moving_dot = true;
      time = Date.now();
    } else {
      mousedown = true;
      last_wall_id += 1;
      console.log("relX: ", realX);
      walls.push({ "id": last_wall_id, "x0": realX, "y0": realY, "thickness": wall_thickness });
    }
    console.log(lastX, lastY);
    console.log("current coorindates: ", getXY(e.offsetX, e.offsetY));
    console.log("original coordinates: ", getRealXY(e.offsetX, e.offsetY));
    p1s["mousesstate"] = "down";
    update_p1s();
  }, false);

  //Mousemove
  c.addEventListener('mousemove', function (e) {
    lastX = e.offsetX || (e.pageX - c.offsetLeft);
    lastY = e.offsetY || (e.pageY - c.offsetTop);
    mousex = parseInt(e.clientX - canvasx);
    mousey = parseInt(e.clientY - canvasy);
    var realX = getRealXY(e.offsetX, e.offsetY).x;
    var realY = getRealXY(e.offsetX, e.offsetY).y;
    var elapsed = Date.now() - time;
    if (moving_dot && elapsed > 10) {
      p1s["dots"][hovering_dot_id]["x"] = realX;
      p1s["dots"][hovering_dot_id]["y"] = realY;
      ctx.clearRect(-2000, -2000, 4000, 4000);
      //paint_heatmap(step_size = 10);
      ctx.drawImage(background, 0, 0);
      paint_raymap(step_size = 3);
    }
    p1s["current-x"] = mousex;
    p1s["current-y"] = mousey;
    p1s["mousesstate"] = "move";
    update_p1s();
  }, false);

  //Mouseup
  c.addEventListener('mouseup', function (e) {
    var realX = getRealXY(e.offsetX, e.offsetY).x;
    var realY = getRealXY(e.offsetX, e.offsetY).y;
    if (dot_hover) {
      //repaint dot
      p1s["dots"][hovering_dot_id]["x"] = realX;
      p1s["dots"][hovering_dot_id]["y"] = realY;
      moving_dot = false;
      dot_hover = false;
    } else {
      mousedown = false;
      walls[walls.length - 1]["x1"] = realX;
      walls[walls.length - 1]["y1"] = realY;
    }
    ctx.drawImage(background, 0, 0);
    paint_raymap(step_size = 3);
    p1s["mousesstate"] = "up";
    update_p1s();
  }, false);

  c.addEventListener('mousewheel', function (e) {
    var delta = e.wheelDelta ? e.wheelDelta / 40 : e.detail ? -e.detail : 0;
    if (delta) {
      translate(getRealXY(lastX, lastY).x, getRealXY(lastX, lastY).y);
      var factor = Math.pow(scaleFactor, delta);
      scale(factor, factor);
      translate(-getRealXY(lastX, lastY).x, -getRealXY(lastX, lastY).y);
      inv_matrix = turnMatrixIntoArray(math.inv(turnArrayIntoMatrix(matrix)));
      ctx.clearRect(-2000, -2000, 4000, 4000);
      ctx.drawImage(background, 0, 0);
      paint_raymap(step_size = 3);
    };
    return e.preventDefault() && false;
  }
    , false);

  function hoveringDot(x, y) {
    for (var dot in dots) {
      var d = dots[dot];
      if (Math.sqrt(Math.pow(x - d["x"], 2) + Math.pow(y - d["y"], 2)) < 10) {
        hovering_dot_id = d["id"];
        return true;
      }
    }
    return false;
  }

  function turnArrayIntoMatrix(fakeMatrix) {
    /* fakeMatrix is our array of 6 elements that we need
       to turn into a multi-dimensional 3x3 array: */
    //realMatrix is the real matrix we will return:
    var realMatrix = [[], [], [0, 0, 1]];
    for (var i = 0; i < 3; i++) {
      //Add the (2*i)th element to the first row:
      realMatrix[0].push(fakeMatrix[2 * i]);
      //Add the (2*i+1)th element to the second row:
      realMatrix[1].push(fakeMatrix[2 * i + 1]);
    }
    //Finally, return realMatrix:
    return realMatrix;
  }

  function turnMatrixIntoArray(realMatrix) {
    /* realMatrix is the 3x3 multi-dimensional array
       that we need to turn back into our six-element array: */
    //array is the array we're going to return:
    var array = [];
    for (var i = 0; i < 3; i++) {
      //Push the first and second element from each column into array:
      array.push(realMatrix[0][i]);
      array.push(realMatrix[1][i]);
    }
    //Finally, return array:
    return array;
  }
  //This shows us the inverse of our matrix:

  function translate(x, y) {
    matrix[4] += matrix[0] * x + matrix[2] * y;
    matrix[5] += matrix[1] * x + matrix[3] * y;
    ctx.translate(x, y);
  }

  function scale(x, y) {
    matrix[0] *= x;
    matrix[1] *= x;
    matrix[2] *= y;
    matrix[3] *= y;
    ctx.scale(x, y);
  }

  function getXY(mouseX, mouseY) {
    newX = mouseX * matrix[0] + mouseY * matrix[2] + matrix[4];
    newY = mouseX * matrix[1] + mouseY * matrix[3] + matrix[5];
    return ({ x: newX, y: newY });
  }

  function getRealXY(mouseX, mouseY) {
    newX = mouseX * inv_matrix[0] + mouseY * inv_matrix[2] + inv_matrix[4];
    newY = mouseX * inv_matrix[1] + mouseY * inv_matrix[3] + inv_matrix[5];
    return ({ x: newX, y: newY });
  }

</script>